<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Simon &amp; Woodside</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <%= auto_discovery_link_tag :rss, 'http://simonwoodside.com/posts/rss', :title => 'Simon Says' %>
    <link type="text/css" rel="Stylesheet" media="screen" href="/stylesheets/inside.css"/>
  </head>
  <body>
    <div id="container">
      <%= render :partial => 'includes/masthead' %>
      <%= render :partial => 'includes/main_nav' %>
      <div id="center">
        <div id="content">
          <%= yield %>
          <%= render :partial => 'includes/footer' %>
        </div>
      </div>
      <%= render :partial => 'includes/right_rail' %>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-3449575-2");
      pageTracker._trackPageview();
    </script>
  </body>
  
</html>