<div id="feed-stream">
  <ul>
    <%
      lastday = -1
      @all.each do |item|
        mydate = item[:obj].date_published.getlocal
        if mydate.yday != lastday
          %><h2><%= mydate.strftime('%A, %B %e') %></h2><%
          lastday = mydate.yday
        end
        %>
        <li class="<%= item[:type] %>">
          <%= item[:text] %>
          <a href="<%= item[:obj].urls.first %>"><%= item[:obj].title %></a>
        </li>
    <% end %>
  </ul>
</div>
